<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AiderHubAtual</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Ongs" asp-action="Create">ONG</a>
        <a class="btn btn-warning btn-lg" asp-area="" asp-controller="Voluntarios" asp-action="Create">VOLUNTÁRIO</a>
    </div>

</body>