@model AiderHubAtual.Models.Relatorio

@{
    ViewData["Title"] = "Create";
}

@inject LanguageService language

<h1>@language.GetKey("Create")</h1>

<h4>@language.GetKey("Report")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idVoluntario" class="control-label"></label>
                <input asp-for="idVoluntario" class="form-control" />
                <span asp-validation-for="idVoluntario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idEvento" class="control-label"></label>
                <input asp-for="idEvento" class="form-control" />
                <span asp-validation-for="idEvento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RelatorioGerado" /> @Html.DisplayNameFor(model => model.RelatorioGerado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DataGeracao" class="control-label"></label>
                <input asp-for="DataGeracao" class="form-control" />
                <span asp-validation-for="DataGeracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
